<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap">
</head>
<header class="site-header">
    <div class="container">
        <a class="logo" href="/" align="center">
            Сытый Боб <br/>
            <h3>Сеть пиццерий</h3>
        </a>
        <div class="header-buttons">
            <form action="/search" method="GET">
                <div class="search-box">
                    <input type="text" name="searchTerm" placeholder="Поиск">
                    <button class="button" type="submit">Поиск</button>
                </div>
            </form>
            <div class="auth-buttons">
                <a class="button" href="/registration">Регистрация</a>
                <a class="button" href="/login">Вход</a>
            </div>
            <a class="button cart-icon" href="/sales">
                <i class="fa fa-shopping-cart"></i>
                <span class="cart-quantity" th:text="${totalQuantity}"></span>
            </a>
        </div>
    </div>
</header>
<body>
<h1 class="sales-info fade-in">Выбранные пиццы:</h1>
<div>
    <p class="sales-info fade-in">Количество пицц: <span th:text="${totalQuantity}"></span></p>
    <p class="sales-info fade-in">Общая стоимость: <span th:text="${totalPrice}"></span> руб.</p>
</div>
<ul class="sales-pizza-list fade-in">
    <li th:each="pizza, pizzaIndex : ${selectedPizzas}" class="sales-pizza-card">
        <img th:src="${pizza.image}" alt="Pizza Image">
        <div>
            <h2 th:text="${pizza.name}"></h2>
            <p>Вес: <span th:text="${pizza.weight}"></span> г</p>
            <p>Размер: <span th:text="${pizza.size}"></span> см</p>
            <p>Цена: <span th:text="${pizza.price}"></span> руб.</p>
            <input type="hidden" name="pizzaIndex" th:value="${pizzaIndex.index}" />
            <button class="remove-button" type="submit">Удалить товар</button>
        </div>
    </li>
</ul>
</body>
</html>
